form * {
    box-sizing: border-box;
}

form {
    max-width: 600px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}

button[type=submit]:hover {
    background-color: #45a049;
}

button.add-button[type=submit] {
    float: left;
}

button.delete-button {
    padding: 5px;
    float: none;
    display: block;
    margin: auto;
    background-color: white;
}
